:root {
    --heading-font-family: 'Carter One';
    --default-font-family: 'Ysabeau Office',
        sans-serif;
        --bg-color: #e2d1c3;
}

h1,h2 {
        font-family: var(--heading-font-family);
}

h3,p {
        font-family: var(--default-font-family);
}

.hero {
    text-align: center;
    background-color: var(--bg-color);
    padding: 98px 15px;
}

h2 {
    font-weight: 200px;
}

.button {
    padding: 15px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 40px;
        line-height: 2;
    }
    h2 {
        font-size: 38px;
    }
    .hero {
        padding: 80px 20px;
    }
    
}